.ta-c{
	text-align: center;
}
.ta-r{
	text-align: right;
}
.dis-bk{
	display: block;
}
.dis-bk-full{
	display: block;
	width: 100%;
}

.line-light{
	padding: 0px 6px;
    color: #ddd;
}

.default-tb-pic{
	width: 20px;
	height: 20px;
}
.wk_brk{
	word-break: break-all;
}
.fc-green{
	color: green;
}
.fc-red{
	color: #f00;
}
.img-thumbnail-box{
	width: 108px;
	height: 108px;
	display: table-cell;
	vertical-align: middle;
	border: 1px solid #ccc;
}
.img-thumbnail-box img{
	border:0;
}
.pos-r{
	position: relative;
	overflow: hidden;
}
.pos-r .hover-bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px;
	background: rgba(255,0,0,0.6);
	color: #fff;
	font-size: 14px;
	transform: translateY(110%);
	transition: all 0.5s;
	cursor: pointer;
}
.pos-r .hover-bottom:hover{
	background: rgba(255,0,0,1);
}
.pos-r:hover .hover-bottom{
	transform: translateY(0);
	transition: all 0.5s;
}
@media screen and (max-width: 768px) {
	.default-tb-pic{
	width: 20px;
	height: 20px;
}

}